<html>
<body>
<h1>account_login</h1>
<form method="post" action="/account/login">
  <table border="0">
    <tr>
      <td>userid</td>
      <td><input type="text" size="40" name="account" AUTOCOMPLETE="OFF"></td>
    </tr>
    <tr>
      <td>password</td>
      <td><input type="password" size="40" name="password" AUTOCOMPLETE="OFF"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="login"></td>
    </tr>
  </table>
</form>
</body>
</html>
